body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    font-size: 14px;
    font-family: "Roboto";
    background-color: #F8F8F8;
    font-weight:300;
    color: #333;    
}

.container-fluid {
    max-width:1200px !important;
}
/* Custom Grid */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 6px;
    padding-left: 6px;
}
.row {
    margin-right: -7px;
    margin-left: -7px;
}


.row.narrow {
    margin-left: -5px;
    margin-right: -5px;
}
.row.narrow .col-sm-6
{ 
    padding: 0 7px;
}

.row.narrow .col-xs-6,  .row.narrow .col-sm-3, .row.narrow .col-md-6 {
    padding-right: 5px;
    padding-left: 5px;
}

/* /End Custom Grid */

/* Bootstrap override */
.navbar-collapse { margin-left: -30px !important;}
/* End Bootstrap override*/


/* searchbox */
.searchbox {
    padding: 10px 0 0 0;
}

    .searchbox input {
        width: 468px !important;
    }

.suggest-keywords {
    line-height: 22px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1200px;
}

.fw { width: 100% !important;}


.header {    
    color: #666;
}
    /* url("images/header-before.png") no-repeat center -14px; */
    .header .icon {        
    }

    .header .icon-phone {                    
        width: 38px;
        height: 35px;
        background-position: -19px -19px;
        background-image: url('images/icons.png') !important;
        background-repeat: no-repeat;
        display: inline-block;
    }
    .header .icon-truck {
        width: 44px;
        height: 33px;        
        background-position: -14px -61px;
        background-image: url('images/icons.png') !important;
        background-repeat: no-repeat;
        display: inline-block;
    }

    .header .boxed-content {
        margin-bottom: 10px;
    }

    .header h2.boxed-content-title {
        margin-top: 14px;
        margin-bottom: 6px !important;
        line-height: 10px !important;        
        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }

    .header .boxed-content.left-boxed-icon span.icon {
        padding: 8px;
        height: 40px;
        width: 30px;
    }

    .small-hr{ margin: 0; }

.header-rightbox {
}

    .header-rightbox ul.list-social-icons {
        margin-bottom: 0;
    }

    .header-rightbox .number-box {
        padding-top: 7px;
        text-align: left;
    }

        .header-rightbox .number-box span.icon {
            font-size: 16px;
        }

        .header-rightbox .number-box p {
            font-size: 16px;
        }

            .header-rightbox .number-box p span {
                font-size: 0.7em;
            }



/* navbar */
.navbar {min-height: 30px !important;}
.navbar-default {
    background-color: #171717;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:solid 4px #555;  
}
/* title */
.navbar-default .navbar-brand {
    color: #fafafa;text-transform: uppercase;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fafafa;
    font-weight:300;
    font-size:14px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
.nav>li>a { padding-left: 10px;padding-right: 10px;}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #DADADA;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #DADADA;
    }
}

.dropdown-menu > li > a {
    font-size:18px;
    font-weight:300;
}

.dropdown-menu {
    border: none;
}

.news-item-box {
}
.news-item-box a{
    color: #777;
    font-size:20px; font-weight:300;
    text-align:center;
}

    .news-item-box p {
        padding: 15px 0;
        font-size: 16px;
    }


.footer {
    background: #222;
    color: #f0f8ff;
    padding: 14px 0;
    margin-top: 20px;
}

    .footer .boxed-content p {
        margin-bottom: 0;
    }

    .footer .boxed-content-title {
        padding: 5px 0;
        margin: 0;
    }

    .footer ul {
        padding-left: 0;
        list-style: none;
    }

        .footer ul li a {
            color: #9d9d9d;
            font-size: 100%;
        }

            .footer ul li a:hover {
                color: #fff;
            }

.required {
    color: red;
}

.vat-minicart {
    margin: 0;
    padding-top: 6px;
    color: #646464;
    font-size: 11px;
}

strong.total-label {
    font-size: 16px;
    color: #292929;
}

strong.total-price {
    font-size: 16px;
    color: #f36f21;
}

table.table th, table.table td {
    vertical-align: middle !important;
}

.shopping-thankyou .thankyou-image {
    float: left;
    height: 200px;
    width: 30%;
}

    .shopping-thankyou .thankyou-image img {
        width: 100%;
    }

.shopping-thankyou .thankyou-message {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    width: 60%;
}

.shopping-thankyou h2 {
    font-size: 18px;
}

.shopping-thankyou a {
    color: rgba(85, 185, 48, 1);
}

.shopping-thankyou .thankyou-message .order {
    border-bottom: 1px solid rgba(215, 222, 222, 1);
    line-height: 30px;
    padding-right: 10px;
    padding-top: 10px;
}

    .shopping-thankyou .thankyou-message .order ul {
        list-style-type: disc;
        margin-left: 15px;
    }

.shopping-thankyou .thankyou-message .order-continue {
    padding-top: 10px;
}

.clear {
    clear: both;
}

.breadcrumb-wrapper {
    background: none !important;
    margin: 0 0 10px 0;
}

.breadcrumb {
    margin-bottom: 0 !important;    
    background: none !important;
    padding-left: 0px;
}
.breadcrumb a{ color: #9d9d9d;}
.breadcrumb .active{
    color: #337ab7;font-weight: bold;
}

.ditem { padding:0 10px;}

.pitem {
    margin-bottom: 20px;
    position: relative;
}

.pitem .characteristics{ margin: 10px 0 0 0;}

.pitem.narrow{ padding: 4px;margin-bottom: 10px;}
.pitem.narrow .price { padding: 7px 0 0 0;margin-bottom: 0;}

.pitem  a { color: #111 !important;}

    .pitem img:hover {
        -webkit-transform: scale(1.03); /* Safari and Chrome */
        -moz-transform: scale(1.03); /* Firefox */
        -ms-transform: scale(1.03); /* IE 9 */
        -o-transform: scale(1.03); /* Opera */
        transform: scale(1.03);
    }


    .pitem .price {
        font-size:16px;
        margin: 15px 0 15px 0;
    }

    .pitem .running-campaign { color: #00bfff; }
    .vitem .running-campaign { color: #00bfff; }

    .ditem .price {
        color: #ff0000;
        font-size: 17px;
    }
    
.vitem img:hover {
        -webkit-transform: scale(1.05); /* Safari and Chrome */
        -moz-transform: scale(1.05); /* Firefox */
        -ms-transform: scale(1.05); /* IE 9 */
        -o-transform: scale(1.05); /* Opera */
        transform: scale(1.05);
    }
.vitem p{ padding: 4px 0 0;}

.pagination {
    margin: 0 0 10px 0;
}



/* Timeline CSS */
.timeline {
    background-image: url("images/line-1.png");
    background-position: center;
    background-repeat: repeat-y;
    /*max-width: 960px;*/
    margin: 0 auto;
    position: relative;
    height: auto;
    padding: 0;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

    .timeline li.year {
        clear: both;
        width: 4em;
        margin: 0 auto;
        line-height: 4em;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 25px;
        -moz-box-shadow: 2px 2px 2px #888888;
        -webkit-box-shadow: 2px 2px 2px #888888;
    }

        .timeline li.year:first-child {
            margin-top: 0px;
        }

    .timeline li.year, .timeline li.event {
        list-style-type: none;
        z-index: 999;
    }

    .timeline li.event {
        width: 48%;
        background-color: #fff;
        margin-bottom: 20px;
        padding: 14px;
        position: relative;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        border-image: none;
        border-style: solid;
        border-width: 1px;
    }

li.event:nth-child(odd) {    
    clear: left;
    float: left;
}

li.event:nth-child(even) {    
    clear: right;
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
}

.timeline li.event:nth-child(odd)::after {
    /*background: transparent url("images/left.png") no-repeat top right;
    content: "";
    height: 25px;
    position: absolute;
    right: -7px;
    top: 10px;
    width: 7.2%;*/
}

li.event:nth-child(even)::before {
    /*background:  transparent url("images/right.png") no-repeat top right;
    content: "";
    height: 25px;
    position: absolute;
    top: 10px;
    width: 6.2%;
    left: -33px;*/
}

@media (max-width: 640px) {
    .timeline li.event {
        width: 90%;
        background-color: #fff;        
        margin: 20px auto;
        padding: 20px;
        position: relative;
    }

    li.event:nth-child(odd) {        
        
    }

    li.event:nth-child(even) {
        
    }

        .timeline li.event:nth-child(odd)::after, li.event:nth-child(even)::before {
            width: 0px;
        }
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar-nav { margin: 0 -15px 0 0 !important;  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .navbar-nav { margin: 0 -15px 0 0 !important;  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .navbar-nav { margin: 0 -15px 0 0 !important;  }
}

/* .Timeline CSS */



h3.blogitem { margin-top: 4px;}

/* Product detail */
.buyBox{ border: solid 1px #ccc;padding: 7px;}
.buyBox button { width: 100%;}
/* .Product detail */


.listProductSort .active a{ border-bottom: solid 2px #ff0000; font-weight: bold;line-height: 33px; }

.tooltip-inner {
    width: 300px;
    max-width: 350px;
    /* If max-width does not work, try using width instead */    
    padding: 10px;
    background: #222;
}


.promotion-item{ padding-bottom: 10px;border-bottom: solid 1px #ccc;}
    .promotion-item .summary{ padding: 14px 0;}

.promotion-item:last-child{ border-bottom: none;}


@media (min-width: 768px) and (max-width: 992px) and (orientation:portrait){
    .navbar-header {
        float: none; }
    .navbar-toggle {
        display: block; 
        margin-bottom:0px;
    }
    .navbar-fixed-top .navbar-collapse, 
    .navbar-static-top .navbar-collapse, 
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px; }
    .navbar-collapse.collapse {
        display: none !important; }
        .navbar-collapse.collapse.in { 
        display: block!important; 
        margin-top: 0px; }
}

@media (min-width: 768px) and (max-width: 992px) and (orientation:landscape){    
    .navbar-nav>li>a {
            padding: 5px 10px 5px 10px;font-size: 11px;
    }
    .navbar-brand{ display: none !important;}
    .searchbox input { width: 300px !important;}
}

@media (min-width: 1200px) {
    .navbar-header {
        float: left; }
    .navbar-toggle {
    display: none; }
    .navbar-fixed-top .navbar-collapse, 
    .navbar-static-top .navbar-collapse, 
    .navbar-fixed-bottom .navbar-collapse {
        display: block !important; }
}
















.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}




.pagination>li>a, .pagination>li>span{ padding: 5px 10px;}
























/* spinner */
/**********************
 *CSS Animations by:
 *http://codepen.io/vivinantony
***********************/
.spinner1 {
  width: 40px;
  height: 40px;
  position: relative;
}


.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner2 {
  width: 40px;
  height: 40px;
  position: relative;
}


.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #fff;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner2 .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner3 {
  width: 40px;
  height: 40px;
  position: relative;  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner4 {
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner5 {
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.spinner6 {
  width: 50px;
  height: 30px;
  text-align: center;
}

.spinner6 > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  margin-left:2px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner6 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner6 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner6 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner6 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
  .spinner7 {
      width: 90px;
      height: 30px;
      text-align: center;
    }

    .spinner7 > div {
      background-color: #fff;
      height: 15px;
      width: 15px;
      margin-left:3px;
      border-radius: 50%;
      display: inline-block;
      
      -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
      animation: stretchdelay 0.7s infinite ease-in-out;
    }

    .spinner7 .circ2 {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }

    .spinner7 .circ3 {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }

    .spinner7 .circ4 {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }

    .spinner7 .circ5 {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }

    @-webkit-keyframes stretchdelay {
      0%, 40%, 100% { -webkit-transform: translateY(-10px) }  
      20% { -webkit-transform: translateY(-20px) }
    }

    @keyframes stretchdelay {
      0%, 40%, 100% { 
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
      } 20% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
      }
    }




iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}



.feature { color: #f0f8ff;font-size: 12px;text-transform: uppercase;margin-bottom: 10px; }
.stickyDiv { background-color: #171717 !important;}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom:5px;
    }
}



/*
  ========================================
  Loader
  ========================================
*/

.loader {
    font-size: 10px;
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

    .loader p {
        position: relative;
        top: 44%;
        color: #8a8f6a;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        font-size: 13px;
        margin-left: -45px;
        display: inline-block;
    }

    .loader > div {
        width: 6px;
        height: 80px;
        position: relative;
        text-align: center;
        display: inline-block;
        top: 40%;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .loader .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .loader .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .loader .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .loader .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        background: #333;
    }

    20% {
        -webkit-transform: scaleY(1.0);
        background: #8a8f6a;
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
        background: #333;
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
        background: #8a8f6a;
    }
}